*{
	margin: 0px;
	padding: 0px;
}
html,body{
	height: 100%;
}
html{
	font-size: 62.5%;
}
ul,li{
	list-style: none;
}
.container{
	height: 100%;
	position: relative;
	overflow: hidden;
}
#myCanvas{
	position: absolute;
	z-index: 1;
	display: none;
}
#photo{
	width: 100%;
	height: 60%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}
#photo img{
	position: relative;
}
#scene, #hitarea{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
}
#scene{
	background: url('../images/bg.gif') no-repeat;
	background-size: 100% auto;
	z-index: 3;
}
#hitarea{
	background: url('../images/cover.png') no-repeat;
	background-size: 100% auto;
	z-index: 4;
}
#bingo{
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 50%;
	right: 3rem;
	background: url('../images/bingo.png') no-repeat;
	background-size: 100% auto;
	z-index: 5;
}
.hide{
	display: none;
}
#textwrap{
	width: 40%;
	height: 80px;
	background: #fff;
	border: 2px solid #ffd800;
	border-radius: 50%;
	position: absolute;
	top: 10%;
	left: 2rem;
	z-index: 3;
}
#textwrap div{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 1rem 2rem;
	font-size: 1.6rem;
	font-family: '微软雅黑';
}
#textwrap span{
	display: block;
	width: 2rem;
	height: 1rem;
	background: #fff;
	border: 1px solid #ffd800;
	border-radius: 50%;
	position: absolute;
	bottom: -1rem;
	right: 1rem;
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}
#textwrap textarea{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	box-sizing: border-box;
	padding: 5px;
	display: none;
}

.money{
	width: 3rem;
	height: 3rem;
	background: url('../images/money1.png') no-repeat;
	background-size: 100% auto;
	position: absolute;
	top: -3rem;
	z-index: 3;
}
.money2{
	background: url('../images/money2.png') no-repeat;
	background-size: 100% auto;
	left: 0px;
}
.money3{
	background: url('../images/money3.png') no-repeat;
	background-size: 100% auto;
	left: 10%;
}
.money4{
	background: url('../images/money4.png') no-repeat;
	background-size: 100% auto;
	left: 50%;
}
.money5{
	background: url('../images/money5.png') no-repeat;
	background-size: 100% auto;
	right: 2rem;
}
.money6{
	background: url('../images/money6.png') no-repeat;
	background-size: 100% auto;
	right: 0px;
}

.cloud{
	width: 100%;
	height: 35%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	z-index: 8;
	background: url('../images/cloud3_2.png') no-repeat;
	background-size: 100% auto;
	background-position: center bottom;
}
.cloud a.download{
	display: inline-block;
	width: 5rem;
	height: 5rem;
	text-indent: -99999px;
	overflow: hidden;
	position: relative;
	top: 10%;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
.toolbar{
	width: 100%;
	position: absolute;
	bottom: 5%;
	text-align: center;
	z-index: 9;
}
.toolbar a{
	display: inline-block;
	width: 5rem;
	height: 5rem;
}
.toolbar a.takephoto{
	background: url('../images/photo.png') no-repeat;
	background-size: 100% auto;
	overflow: hidden;
	float: left;
	margin-left: 10%;
}
.toolbar a.takephoto input{
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.toolbar a.preview{
	text-indent: -99999px;
	overflow: hidden;
	background: url('../images/preview.png') no-repeat;
	background-size: 100% auto;
	position: relative;
	top: -1rem;
}
.toolbar a.share{	
	text-indent: -99999px;
	overflow: hidden;
	background: url('../images/share.png') no-repeat;
	background-size: 100% auto;
	float: right;
	margin-right: 10%;
}
.toolbg a.takephoto{
	background: url('../images/photo2.png') no-repeat;
	background-size: 100% auto;
}
.toolbg a.share{
	background: url('../images/share2.png') no-repeat;
	background-size: 100% auto;
}
.toolbg a.preview{
	background: url('../images/preview2.png') no-repeat;
	background-size: 100% auto;
}
.shareicon{
	width: 320px;
	height: 139px;
	display: none;
	z-index: 100;
	position: absolute;
	right: 0px;
}
/*cardTwo 动画*/
.money1{
	-webkit-animation:fall 4s linear -1s infinite;
}
.money2{
	-webkit-animation:fall 5s linear 0s infinite;
}
.money3{
	-webkit-animation:fall 6s linear 1s infinite;
}
.money4{
	-webkit-animation:fall 5s linear 0s infinite;
}
.money5{
	-webkit-animation:fall 5s linear 2s infinite;
}
.money6{
	-webkit-animation:fall 4s linear -0.5s infinite;
}

@-webkit-keyframes fall{
	0% {top:0;}
	20%{transform:rotate(30deg);}
	50% {top:50%;}
	60%{transform:rotate(-30deg);}
	100%{top:100%;}
}


@media only screen and (min-width : 640px){
	.container{
		width: 400px;
	}
}
